{% if user and not user.is_anonymous %}
    <h1>Welcome to the Etherscan Search, {{ user.get_full_name }}!</h1>

    <a href="{% url 'etherscan_app:search' %}">Search for an address/contract</a><br>
    <a href="{% url 'etherscan_app:user_addresses' %}">Show me the saved addresses so far..</a><br>
    <a href="{% url 'etherscan_app:create_list' %}">Create a list</a><br>
    <a href="{% url 'etherscan_app:show_lists' %}">View Lists</a>
    <br><br>
    <a href="{% url 'logout' %}">Logout</a>
{% endif %}