{% extends 'etherscan_app/base.html' %}

{% block heading %}
  Transactions of {{ address }}
{% endblock %}

{% block content%}
  <form>
  {% csrf_token %}
  {% if alias %}
    Alias: {{ alias }}
    <input formaction="{% url 'etherscan_app:edit-alias' address %}" type="submit" value="Change alias">
  {% else %}
    <input formaction="{% url 'etherscan_app:create-alias' address %}" formmethod="post" type="submit" value="Create alias">
  {% endif %}

  <br><br>
  {% if folders %}
    Folder:
    {% for folder in folders %}
      <a href="{% url 'etherscan_app:show-folder' folder.pk %}">{{ folder.name }}</a>
    {% endfor %}
    <input type="submit"  value="Save it to another folder" formaction="{% url 'etherscan_app:create-or-select-folder' address %}">
  {% else %}
    <input type="submit" value="Save it to a folder" formaction="{% url 'etherscan_app:create-or-select-folder' address %}">
  {% endif %}
  </form>

  <br><br>
  <table style="width:100%">
  <tr>
    <th>From</th>
    <th>To</th> 
    <th>Value in ether</th>
  </tr>
  {% for transaction in page_obj %}
      <tr>
      <td>{{ transaction.from_account }}</td>
      <td>{{ transaction.to_account }}</td>
      <td>{{ transaction.value_in_ether|floatformat:6 }}</td>
      </tr>
  {% endfor %}
  </table>  

  <br>
  <div class="text-center">
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}

