{% if folders %}
    {% for x in folders %}
        <ul>
            <li>
                {{ x.folder }} 
                <button type='submit' formaction="{% url 'etherscan_app:edit-folder' %}" formmethod="post">Edit</button>
                <button type='submit' formaction="{% url 'etherscan_app:delete-folder' %}" formmethod="post">Delete</button>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>You haven't created any folder yet.
    <a href="{% url 'etherscan_app:create-folder' %}">Create a new folder here.</a></p>
{% endif %}