{% extends 'etherscan_app/base.html' %}

{% block heading %}
    {{ folder.name }}
    {% if folder.public %}
        (public)
    {% else %}
        (private)
    {% endif %}
{% endblock %}

{% block content %}
<form>
    {% csrf_token %}
    <input class="btn btn-primary btn-primary" type="submit" formaction="{% url 'etherscan_app:change-folder-privacy' folder.pk %}" formmethod="post" value="Change to {{ privacy }}">
    <input class="btn btn-primary btn-primary" type='submit' formaction="{% url 'etherscan_app:edit-folder-name' folder.pk %}" formmethod="get" value="Edit">
    <input class="btn btn-primary btn-primary" type='submit' formaction="{% url 'etherscan_app:delete-folder' folder.pk %}" formmethod="post" value="Delete" onclick="myFunction()">
</form><br>
{% if address_user_instances %}
    <ul>
        {% for x in address_user_instances %}
            {% if x.alias %}
                <li><a href="{% url 'etherscan_app:show-transactions' x.address.pk %}">{{ x.alias }}</a></li>
            {% else %}
                <li><a href="{% url 'etherscan_app:show-transactions' x.address.pk %}">{{ x.address.pk }}</a></li>
            {% endif %}    
        {% endfor %}
    </ul>
{% else %}
<p>There is no address saved in this folder yet..</p>
{% endif %}

<script>
    function myFunction() {
        confirm("Are you sure you want to delete this folder?");
    }
</script>
{% endblock %}

