{% extends 'etherscan_app/base.html' %}

{% block heading %}
Transactions of {{ address }}
{% endblock %}

{% block content%}
  <form>
  {% csrf_token %}
  {% if alias %}
    Alias: {{ alias }}
    <input formaction="{% url 'etherscan_app:edit-alias' address %}" type="submit" value="Change alias">
  {% else %}
    <input formaction="{% url 'etherscan_app:create-alias' address %}" formmethod="post" type="submit" value="Create alias">
  {% endif %}
  <br><br>
  {% if folders %}
    Folder:
    {% for folder in folders %}
      <a href="{% url 'etherscan_app:show-folder' folder.pk %}">{{ folder.name }}</a>
    {% endfor %}
    <input type="submit"  value="Save it to another folder" formaction="{% url 'etherscan_app:create-or-select-folder' address %}">
  {% else %}
    <input type="submit" value="Save it to a folder" formaction="{% url 'etherscan_app:create-or-select-folder' address %}">
  {% endif %}
  </form>
    <br><br>
    <table style="width:100%">
    <tr>
      <th>From</th>
      <th>To</th> 
      <th>Value in ether</th>
    </tr>
    {% for x in transactions %}
        <tr>
        <td>{{ x.from_account }}</td>
        <td>{{ x.to_account }}</td>
        <td>{{ x.value_in_ether }}</td>
        </tr>
    {% endfor %}
  </table>  
{% endblock %}

