{% extends 'etherscan_app/base.html' %}

{% block heading %}
{{ folder.folder_name }}
{% endblock %}
{% block content %}

{% if address_user_instances %}
    <ul>
        {% for x in address_user_instances %}
            {% if x.alias %}
                <li><a href="{% url 'etherscan_app:show-transactions' x.alias %}">{{ x.alias }}</a></li>
            {% else %}
                <li><a href="{% url 'etherscan_app:show-transactions' x.address %}">{{ x.address.pk }}</a></li>
            {% endif %}    
        {% endfor %}
    </ul>
{% else %}
<p>There is no address saved in this folder yet..</p>
{% endif %}

<a href="{% url 'etherscan_app:index' %}">Go back to the main page.</a>
{% endblock %}