{% extends 'etherscan_app/base.html' %}

{% block content %}
<form>
{% csrf_token %}
{% if folders %}
    {% for x in folders %}
        <ul>
            <li>
                <a href="{% url 'etherscan_app:show-folder' x.pk %}">{{ x.name }}</a>
                <input type='submit' formaction="{% url 'etherscan_app:edit-folder-name' x.pk %}" formmethod="get" value="Edit">
                <input type='submit' formaction="{% url 'etherscan_app:delete-folder' x.pk %}" formmethod="post" value="Delete" onclick="myFunction()">
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>You haven't created any folder yet.
{% endif %}
</form>

<a href="{% url 'etherscan_app:create-folder' %}">Create a new folder</a><br>


<script>
    function myFunction() {
        confirm("Are you sure you want to delete this folder?");
    }
</script>
{% endblock %}